*{
margin:0;
padding:0;
box-sizing:border-box;
}

.login-container{
height:100vh;
display:flex;
font-family:Arial,Helvetica,sans-serif;
}

/* Left Side */

.left-panel{

flex:1;

background:linear-gradient(135deg,#0F766E,#14B8A6);

display:flex;

justify-content:center;

align-items:center;

padding:60px;

color:white;

}

.overlay{

max-width:500px;

}

.overlay h1{

font-size:55px;

margin-bottom:20px;

font-weight:700;

}

.overlay p{

font-size:18px;

line-height:1.8;

margin-bottom:35px;

}

.features div{

margin:18px 0;

font-size:18px;

}

/* Right Side */

.right-panel{

width:480px;

display:flex;

justify-content:center;

align-items:center;

background:#f9fafb;

}

.login-card{

width:370px;

background:white;

padding:45px;

border-radius:18px;

box-shadow:0 15px 40px rgba(0,0,0,.12);

text-align:center;

}

.google-logo{

width:70px;

margin-bottom:20px;

}

.login-card h2{

font-size:30px;

margin-bottom:12px;

color:#111827;

}

.subtitle{

color:#6B7280;

margin-bottom:35px;

}

.google-button{

width:100%;

padding:15px;

border:1px solid #ddd;

background:white;

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

gap:12px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.google-button img{

width:24px;

}

.google-button:hover{

background:#f3f4f6;

transform:translateY(-2px);

}

.footer-text{

margin-top:35px;

color:#9CA3AF;

font-size:14px;

}

/* Responsive */

@media(max-width:900px){

.left-panel{

display:none;

}

.right-panel{

width:100%;

}

.login-card{

width:90%;

}

}

@media(max-width:500px){

.login-card{

padding:30px;

}

.login-card h2{

font-size:24px;

}

.google-button{

font-size:15px;

}

}
