/* Login Page */

.login-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#075E54,#128C7E);
}

.login-card{

    width:420px;
    background:white;
    padding:45px;
    border-radius:20px;
    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.2);

}

.login-card h1{

    color:#128C7E;
    margin-bottom:20px;
    font-size:36px;

}

.login-card p{

    color:#666;
    margin-bottom:35px;
    line-height:1.6;

}

.google-btn{

    width:100%;
    padding:15px;

    border:none;
    border-radius:12px;

    background:#4285F4;

    color:white;

    font-size:17px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    cursor:pointer;

    transition:.3s;

}

.google-btn:hover{

    background:#3367D6;
    transform:translateY(-2px);

}

.google-btn img{

    width:24px;

    background:white;

    border-radius:50%;

    padding:3px;

}

@media(max-width:600px){

.login-card{

    width:90%;
    padding:30px;

}

.login-card h1{

    font-size:28px;

}

.google-btn{

    font-size:15px;

}

}
